* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

.container-banner {
  width: 100%;
  background-color: #072540;
  display: flex;
  flex-direction: column;
  padding: 100px;
  box-sizing: border-box;
}

.banner {
  width: 60%;
  margin: 20px auto 0;
}

.container-banner h1,
h4 {
  text-align: center;
  width: 50%;
  margin: auto;
}

.container-banner h4 {
  margin-top: -190px;
  margin-bottom: 10px;
}

.container-banner h1 {
  line-height: 35px;
  padding: 0 25px;
  box-sizing: border-box;
}

.container-main {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  box-sizing: border-box;
}

.container-main h1 {
  color: #072540;
  /* font-weight: bold; */
  margin-left: 160px;
}

.container-grid {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between wrap;
  align-content: flex-start;
}

.items {
  width: 20%;
  margin: 20px;
}

.items img {
  width: 100%;
  height: 220px;
}

.img-1 {
  border-radius: 3%;
}

.img-2 {
  border-radius: 100%;
}

.img-3 {
  border-radius: 3% 3% 50% 3%;
}

.img-4 {
  border-radius: 3% 50% 3% 3%;
}

.items h2,
h3 {
  color: black;
}

.items h2 {
  /* text-transform: uppercase; */
  /* font-weight: 500; */
  margin: 10px 10px 5px;
}

.items h3 {
  opacity: 90%;
  margin: 5px 10px 5px;
}

.footer {
  margin: 100px auto -70px;
}

/* .container-list {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.container-list .items {
  margin: 10px;
  padding: 50px 10px;
  display: flex;
  background-color: green;

}

.container-list .items .caption {
  flex: 6;
}

.container-list .items .sosmed {
  flex: 1;
} */
